.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  padding: 40px;
  color: white;
}

.columns-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.column {
  width: 50%;
  box-sizing: border-box; /* Include padding and border in width */
}

.transcription-column {
  border-right: 1px solid #444;
  padding-right: 20px;
}

.response-column {
  padding-left: 20px;
  word-break: break-word; /* Force line breaks if necessary */
}

.messages-container,
.response-container {
  background: #333;
  padding: 15px;
  border-radius: 5px;
  max-height: 70vh;
  overflow-y: auto;
  text-align: left;
}

.messages-container p,
.response-container p,
.response-container pre {
  background: #444;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 1em;
  word-wrap: break-word; /* Break long words */
}

h2 {
  margin-bottom: 10px;
}
